@model FinalAssignment.DAL.Data.Model.Asset

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Asset</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <select asp-for="ProductId" class ="form-control" asp-items="ViewBag.ProductId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FacilityId" class="control-label"></label>
                <select asp-for="FacilityId" class ="form-control" asp-items="ViewBag.FacilityId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssetNo" class="control-label"></label>
                <input asp-for="AssetNo" class="form-control" />
                <span asp-validation-for="AssetNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModelNo" class="control-label"></label>
                <input asp-for="ModelNo" class="form-control" />
                <span asp-validation-for="ModelNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SerialNo" class="control-label"></label>
                <input asp-for="SerialNo" class="form-control" />
                <span asp-validation-for="SerialNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PurchaseDate" class="control-label"></label>
                <input asp-for="PurchaseDate" class="form-control" />
                <span asp-validation-for="PurchaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PurchasePrice" class="control-label"></label>
                <input asp-for="PurchasePrice" class="form-control" />
                <span asp-validation-for="PurchasePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstServiceLife" class="control-label"></label>
                <input asp-for="EstServiceLife" class="form-control" />
                <span asp-validation-for="EstServiceLife" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BER_Maintainance_Cost" class="control-label"></label>
                <input asp-for="BER_Maintainance_Cost" class="form-control" />
                <span asp-validation-for="BER_Maintainance_Cost" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Warranty" /> @Html.DisplayNameFor(model => model.Warranty)
                </label>
            </div>
            <div class="form-group">
                @*<label  asp-for="ExpiryDate" class="control-label"></label>*@
                <input type="hidden" asp-for="ExpiryDate" class="form-control" />
                <span asp-validation-for="ExpiryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
